<div class="proj-container">
    <div class="card">
        <div class="card-image">
            <img src="" alt=""/>
        </div>
        <div class="card-header">Title</div>
        <div class="card-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, sequi ipsum
            enim voluptas itaque ut distinctio! Alias, esse sunt? Odit. <br/> 
            <a href="#" target="_blank" rel="noopener noreferrer">Projects demo</a>.
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="" alt=""/>
        </div>
        <div class="card-header"><div class="card-header">Title</div></div>
        <div class="card-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, sequi ipsum
            enim voluptas itaque ut distinctio! Alias, esse sunt? Odit.<br/>
            <a href="#" target="_blank" rel="noopener noreferrer">Projects demo</a>.
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="" alt=""/>
        </div>
        <div class="card-header"><div class="card-header">Title</div></div>
        <div class="card-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, sequi ipsum
            enim voluptas itaque ut distinctio! Alias, esse sunt? Odit.<br/>
            <a href="#" target="_blank" rel="noopener noreferrer">Projects demo</a>.
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="" alt=""/>
        </div>
        <div class="card-header"><div class="card-header">Title</div></div>
        <div class="card-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, sequi ipsum
            enim voluptas itaque ut distinctio! Alias, esse sunt? Odit.<br/>
            <a href="#" target="_blank" rel="noopener noreferrer">Projects demo</a>
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="" alt=""/>
        </div>
        <div class="card-header"><div class="card-header">Title</div></div>
        <div class="card-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, sequi ipsum
            enim voluptas itaque ut distinctio! Alias, esse sunt? Odit.<br/>
            <a href="#" target="_blank" rel="noopener noreferrer">Projects demo</a>.
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="" alt=""/>
        </div>
        <div class="card-header"><div class="card-header">Title</div></div>
        <div class="card-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, sequi ipsum
            enim voluptas itaque ut distinctio! Alias, esse sunt? Odit.<br/>
            <a href="#" target="_blank" rel="noopener noreferrer">Projects demo</a>.
        </div>
    </div>
</div>
